*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

section{
    padding-top: 55px;
    padding-bottom: 55px;
}

/*start header*/
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: transparent;
    position: fixed;
    z-index: 999;
}

.container{
    display: flex;
    justify-content: space-between;
    background-color:transparent;
    align-items: center;
    text-decoration: none;
    padding-top: 10px;
}    

ul{
    display: flex;
}
ul li{
    margin-left:18px ;
    list-style: none;
    position: relative;
    font-weight: bold;
    color: #491503;
}
ul li::after{
    content: "";
    background-color: #491503;
    top: 30px;
    left: 0px;
    width: 0;
    height: 5px;
    position: absolute;
}
ul li:hover::after{
    transition: 0.5s;
    width: 100%;
}
ul li:hover{
    cursor: pointer;
    color:#9c916e;
}
a:link{
    text-decoration: none;
}
ul li a{
    text-decoration: none;
    
}

@media (max-width: 1024px){
    header ul{
        flex-direction: column;
        background-color: rgba(245, 245, 245, 0.716);
    }
}
/*end header*/

/*start main*/
#main
{
    background-image: url(imgs/IMG_8270.JPG);
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*end main*/

/*start booking*/
#booking{
    align-items: center;
    text-align: center;
}
#bookinglist{
    padding: 105px 0px;
}
#bookinglist img{
    border: 1px solid rgba(0, 0, 0, 0.577);
    border-radius: 1000px;
    filter: drop-shadow(0 0 10px rgb(57, 16, 5));
}
#bookinglist h2{
    color: #491503;
}
#bookinglist h5{
    color: #491503;
}
#bookingbtn button{
    background-color: #f0ebe9;
    color: #491503;
    font-weight: 500;
}
/*end booking*/

/*start footer*/
footer{
    display: flex;
    justify-content: space-between;
    background-color: #f0ebe9;
    color: #491503;
    padding: 18px 120px;
}
.icons {
    padding-top: 50px;
    text-decoration: none;
}
.icons a:hover{
    font-size: 20px;
    font-weight: bolder;
}

@media(max-width:1024px){
   footer{
    padding: 20px;
   } 
}
/*end footer*/